In [1]:
import pyspark
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Init") \
    .getOrCreate()

In [2]:
dados = spark.read.json("dados/dataset_bruto.json")
dados.limit(5).toPandas()

,anuncio,imagens,usuario
0,"(0, [], [16], [0], [], (Centro, 20061003, Rio ...","[(39d6282a-71f3-47bc-94aa-909351ecd881, https:...","(9d44563d-3405-4e84-9381-35b7cf40a9a4, Frank)"
1,"(0, [], [14], [0], [], (Centro, 20051040, Rio ...","[(23d2b3ab-45b0-47f2-a27f-ffbe066c2c38, https:...","(36245be7-70fe-40cd-84d4-70a57dc8f976, Caroline)"
2,"(0, [1026], [1026], [0], [], (Maria da Graça, ...","[(1da65baa-368b-490f-bef7-1834b9a428c1, https:...","(9dc415d8-1397-4d8d-8425-b8310fad309d, Oliver)"
3,"(0, [120], [120], [0], [Portão eletrônico, Con...","[(79b542c6-49b4-4f06-80b5-ef4fcdf98f76, https:...","(9911a2df-f299-4a73-a384-281417abaf69, Matthew)"
4,"(0, [3], [3], [0], [], (São Cristóvão, 2093167...","[(e2bc497b-6510-4731-8942-97b3d3cdab5e, https:...","(240a7aab-12e5-4069-9a2c-9dca4c4f9c68, Jude)"

In [3]:
print(f'Linhas: {dados.count()} | Colunas: {len(dados.columns)}')
print('-'*50)
print(dados.printSchema())

Linhas: 89083 | Colunas: 3
--------------------------------------------------
root
 |-- anuncio: struct (nullable = true)
 |    |-- andar: long (nullable = true)
 |    |-- area_total: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- area_util: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- banheiros: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- caracteristicas: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- endereco: struct (nullable = true)
 |    |    |-- bairro: string (nullable = true)
 |    |    |-- cep: string (nullable = true)
 |    |    |-- cidade: string (nullable = true)
 |    |    |-- estado: string (nullable = true)
 |    |    |-- latitude: double (nullable = true)
 |    |    |-- longitude: double (nullable = true)
 |    |    |-- pais: string (nullable = true)
 |    |    |-- rua: string (nullable = true)
 |    |    |-- zona: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- quartos: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- suites: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- tipo_anuncio: string (nullable = true)
 |    |-- tipo_unidade: string (nullable = true)
 |    |-- tipo_uso: string (nullable = true)
 |    |-- vaga: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- valores: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- condominio: string (nullable = true)
 |    |    |    |-- iptu: string (nullable = true)
 |    |    |    |-- tipo: string (nullable = true)
 |    |    |    |-- valor: string (nullable = true)
 |-- imagens: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |-- usuario: struct (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- nome: string (nullable = true)

None

In [4]:
# Para nossa análise, apenas as informações do campo "anuncio" serão relevantes. 
# Por isso, vamos focar em analisar as colunas desse campo.

dados = dados.select('anuncio.*')

In [5]:
dados.limit(5).toPandas()

,andar,area_total,area_util,banheiros,caracteristicas,endereco,id,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,valores
0,0,[],[16],[0],[],"(Centro, 20061003, Rio de Janeiro, Rio de Jane...",47d553e0-79f2-4a46-9390-5a3c962740c2,[0],[0],Usado,Outros,Comercial,[1],"[(260, 107, Venda, 10000)]"
1,0,[],[14],[0],[],"(Centro, 20051040, Rio de Janeiro, Rio de Jane...",b6ffbae1-17f6-4870-9950-e998ac1c8d6a,[0],[],Usado,Outros,Comercial,[0],"[(260, 107, Venda, 10000)]"
2,0,[1026],[1026],[0],[],"(Maria da Graça, 20785360, Rio de Janeiro, Rio...",1fb030a5-9e3e-4a1d-93cd-cd2d8a215e11,[0],[],Usado,Outros,Comercial,[0],"[(None, 1613, Venda, 10000)]"
3,0,[120],[120],[0],"[Portão eletrônico, Condomínio fechado]","(Campo Grande, 23095071, Rio de Janeiro, Rio d...",ac6cb348-69d6-45af-9589-dc34099370d8,[0],[],Usado,Outros,Residencial,[],"[(80, None, Venda, 10000)]"
4,0,[3],[3],[0],[],"(São Cristóvão, 20931670, Rio de Janeiro, Rio ...",e032b908-ef42-4d4a-8125-eba4792bacbe,[0],[],Usado,Outros,Residencial,[],"[(0, 0, Venda, 5000)]"

In [6]:
dados.printSchema()

root
 |-- andar: long (nullable = true)
 |-- area_total: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- area_util: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- banheiros: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- endereco: struct (nullable = true)
 |    |-- bairro: string (nullable = true)
 |    |-- cep: string (nullable = true)
 |    |-- cidade: string (nullable = true)
 |    |-- estado: string (nullable = true)
 |    |-- latitude: double (nullable = true)
 |    |-- longitude: double (nullable = true)
 |    |-- pais: string (nullable = true)
 |    |-- rua: string (nullable = true)
 |    |-- zona: string (nullable = true)
 |-- id: string (nullable = true)
 |-- quartos: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- suites: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- tipo_anuncio: string (nullable = true)
 |-- tipo_unidade: string (nullable = true)
 |-- tipo_uso: string (nullable = true)
 |-- vaga: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- valores: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- condominio: string (nullable = true)
 |    |    |-- iptu: string (nullable = true)
 |    |    |-- tipo: string (nullable = true)
 |    |    |-- valor: string (nullable = true)

In [7]:
# O time de Data Science solicitou que fizéssemos alguns filtros nas colunas 
# tipo_uso, tipo_unidade e tipo_anuncio da nossa base de dados:

# tipo_uso: Residencial;
# tipo_unidade: Apartamento;
# tipo_anuncio: Usado.


# Para entender o impacto que esses filtros terão sob a nossa base de dados, 
# crie uma tabela de frequências para cada uma dessas colunas antes de filtrá-las.


dados.groupBy(['tipo_uso','tipo_unidade','tipo_anuncio']).count().show()

+-----------+------------+------------+-----+
|   tipo_uso|tipo_unidade|tipo_anuncio|count|
+-----------+------------+------------+-----+
|Residencial|      Outros|       Usado| 7502|
|Residencial| Apartamento|  Lançamento|  235|
|Residencial| Apartamento|       Usado|66562|
|  Comercial| Apartamento|       Usado|    4|
|  Comercial|      Outros|  Lançamento|    3|
|  Comercial|      Outros|       Usado| 4443|
|  Comercial|        Casa|       Usado|   92|
|Residencial|        Casa|  Lançamento|    3|
|Residencial|      Outros|  Lançamento|   15|
|Residencial|        Casa|       Usado|10224|
+-----------+------------+------------+-----+

In [8]:
dados.count()

89083

In [9]:
# 66562 a variavel alvo solicitada pelo time de Data Science.

( 66562 / 89083 ) * 100

74.7190822042365

In [10]:
# 74.8% dos dados serão utilizados para a análise.

dados = dados.filter(dados.tipo_uso == 'Residencial') \
    .filter(dados.tipo_unidade == 'Apartamento') \
    .filter(dados.tipo_anuncio == 'Usado')
    
dados.count()

66562

In [11]:
#Nesse contexto, transforme os dados das colunas: 

# "quartos",     |-- quartos: array (nullable = true)
#                | | -- element: long(containsNull=true)
# "suites",      |-- suites: array (nullable = true)
#                | | -- element: long(containsNull=true)
# "banheiros",   |-- banheiros: array (nullable = true)
#                | | -- element: long(containsNull=true)
# "vaga",        |-- vaga: array (nullable = true)
#                | | -- element: long(containsNull=true)
# "area_total",  |-- area_total: array (nullable = true)
#                | | -- element: string(containsNull=true)
# "area_util",   |-- area_util: array (nullable = true)
#                | | -- element: string(containsNull=true)

# dados.withColumn('quartos', dados['quartos'][0]).toPandas()

from pyspark.sql.types import IntegerType
from pyspark.sql import functions as f

dicionario = ['quartos', 'suites', 'banheiros', 'vaga', 'area_total', 'area_util']

for item in dicionario:
    dados = dados.withColumn(item, dados[item][0].cast("int"))

In [12]:
dados.printSchema()

root
 |-- andar: long (nullable = true)
 |-- area_total: integer (nullable = true)
 |-- area_util: integer (nullable = true)
 |-- banheiros: integer (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- endereco: struct (nullable = true)
 |    |-- bairro: string (nullable = true)
 |    |-- cep: string (nullable = true)
 |    |-- cidade: string (nullable = true)
 |    |-- estado: string (nullable = true)
 |    |-- latitude: double (nullable = true)
 |    |-- longitude: double (nullable = true)
 |    |-- pais: string (nullable = true)
 |    |-- rua: string (nullable = true)
 |    |-- zona: string (nullable = true)
 |-- id: string (nullable = true)
 |-- quartos: integer (nullable = true)
 |-- suites: integer (nullable = true)
 |-- tipo_anuncio: string (nullable = true)
 |-- tipo_unidade: string (nullable = true)
 |-- tipo_uso: string (nullable = true)
 |-- vaga: integer (nullable = true)
 |-- valores: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- condominio: string (nullable = true)
 |    |    |-- iptu: string (nullable = true)
 |    |    |-- tipo: string (nullable = true)
 |    |    |-- valor: string (nullable = true)

In [13]:
# A coluna de endereço possui as informações de bairro e zona que devem ser extraidas para o dataset final.

dicionario = ['bairro', 'zona']

for item in dicionario:
    dados = dados.withColumn(item, dados['endereco'][item])

In [14]:
dados.toPandas()

,andar,area_total,area_util,banheiros,caracteristicas,endereco,id,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,valores,bairro,zona
0,3,43.0,43,1,"[Academia, Churrasqueira, Playground, Salão de...","(Paciência, 23585430, Rio de Janeiro, Rio de J...",d2e3a3aa-09b5-45a0-9dcd-918847cd3ca3,2,NaN,Usado,Apartamento,Residencial,1.0,"[(245, None, Venda, 15000)]",Paciência,Zona Oeste
1,2,42.0,42,1,"[Churrasqueira, Playground, Salão de festas, C...","(Paciência, 23585430, Rio de Janeiro, Rio de J...",085bab2c-87ad-452a-bd0f-8b1451509f84,2,NaN,Usado,Apartamento,Residencial,1.0,"[(0, 0, Venda, 15000)]",Paciência,Zona Oeste
2,1,41.0,41,1,"[Portaria 24h, Condomínio fechado, Playground,...","(Guaratiba, 23036060, Rio de Janeiro, Rio de J...",18d22cbe-1b86-4764-8def-70c615f15a61,2,NaN,Usado,Apartamento,Residencial,1.0,"[(0, 0, Venda, 20000)]",Guaratiba,Zona Oeste
3,3,43.0,43,1,"[Churrasqueira, Piscina, Playground, Salão de ...","(Cosmos, 23066271, Rio de Janeiro, Rio de Jane...",bed8a354-9317-4426-b27e-1c798f864271,2,NaN,Usado,Apartamento,Residencial,0.0,"[(285, None, Venda, 20000)]",Cosmos,Zona Oeste
4,2,43.0,43,1,"[Academia, Churrasqueira, Playground, Salão de...","(Guaratiba, 23036060, Rio de Janeiro, Rio de J...",12a13315-d67f-48f0-9497-017b83252781,2,NaN,Usado,Apartamento,Residencial,1.0,"[(245, None, Venda, 15000)]",Guaratiba,Zona Oeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66557,20,648.0,648,6,"[Academia, Churrasqueira, Piscina, Salão de fe...","(Barra da Tijuca, 22793082, Rio de Janeiro, Ri...",5831f3d1-e004-414e-b717-2f346a440295,5,5.0,Usado,Apartamento,Residencial,4.0,"[(9654, 44629, Venda, 13785527)]",Barra da Tijuca,Zona Oeste
66558,20,NaN,648,6,"[Academia, Churrasqueira, Piscina, Playground,...","(Barra da Tijuca, 22793082, Rio de Janeiro, Ri...",8577a5cf-b6c7-4b67-9f51-9dce456a493a,5,5.0,Usado,Apartamento,Residencial,5.0,"[(8385, 44629, Venda, 13785527)]",Barra da Tijuca,Zona Oeste
66559,20,648.0,648,7,"[Academia, Condomínio fechado, Elevador, Pisci...","(Barra da Tijuca, 22793081, Rio de Janeiro, Ri...",db22bde4-838a-4ff1-8e85-cac62fd159f9,5,5.0,Usado,Apartamento,Residencial,5.0,"[(10200, 39570, Venda, 13785527)]",Barra da Tijuca,Zona Oeste
66560,1,264.0,264,2,"[Condomínio fechado, Portão eletrônico, Portar...","(Ipanema, 22420004, Rio de Janeiro, Rio de Jan...",382599ac-7751-4ade-8a57-bb9633579a46,3,1.0,Usado,Apartamento,Residencial,3.0,"[(3970, 3200, Venda, 13900000)]",Ipanema,Zona Sul
66561,0,648.0,648,11,"[Piscina, Elevador, Playground]","(Barra da Tijuca, 22631000, Rio de Janeiro, Ri...",c823e3c7-02c7-459d-bb8a-a04847a0a839,5,5.0,Usado,Apartamento,Residencial,5.0,"[(10170, 38400, Venda, 13900000)]",Barra da Tijuca,Zona Oeste

In [15]:
# Nesse contexto, transforme os dados da coluna valores em colunas separadas.

# |-- valores: array(nullable=true)
# | | -- element: struct(containsNull=true)
# | | |-- condominio: string(nullable=true)
# | | |-- iptu: string(nullable=true)
# | | |-- tipo: string(nullable=true)
# | | |-- valor: string(nullable=true)

dicionario = ['condominio', 'iptu', 'tipo', 'valor']

for item in dicionario:
    dados = dados.withColumn(item, dados['valores'][0][item])

In [16]:
#Como se trata de um estudo sobre o preço de venda dos imóveis, o time de cientistas de dados solicitou apenas as informações do tipo VENDA.
dados = dados.filter(dados.tipo == 'Venda')

In [17]:
dados.toPandas()

,andar,area_total,area_util,banheiros,caracteristicas,endereco,id,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,valores,bairro,zona,condominio,iptu,tipo,valor
0,3,43.0,43,1,"[Academia, Churrasqueira, Playground, Salão de...","(Paciência, 23585430, Rio de Janeiro, Rio de J...",d2e3a3aa-09b5-45a0-9dcd-918847cd3ca3,2,NaN,Usado,Apartamento,Residencial,1.0,"[(245, None, Venda, 15000)]",Paciência,Zona Oeste,245,None,Venda,15000
1,2,42.0,42,1,"[Churrasqueira, Playground, Salão de festas, C...","(Paciência, 23585430, Rio de Janeiro, Rio de J...",085bab2c-87ad-452a-bd0f-8b1451509f84,2,NaN,Usado,Apartamento,Residencial,1.0,"[(0, 0, Venda, 15000)]",Paciência,Zona Oeste,0,0,Venda,15000
2,1,41.0,41,1,"[Portaria 24h, Condomínio fechado, Playground,...","(Guaratiba, 23036060, Rio de Janeiro, Rio de J...",18d22cbe-1b86-4764-8def-70c615f15a61,2,NaN,Usado,Apartamento,Residencial,1.0,"[(0, 0, Venda, 20000)]",Guaratiba,Zona Oeste,0,0,Venda,20000
3,3,43.0,43,1,"[Churrasqueira, Piscina, Playground, Salão de ...","(Cosmos, 23066271, Rio de Janeiro, Rio de Jane...",bed8a354-9317-4426-b27e-1c798f864271,2,NaN,Usado,Apartamento,Residencial,0.0,"[(285, None, Venda, 20000)]",Cosmos,Zona Oeste,285,None,Venda,20000
4,2,43.0,43,1,"[Academia, Churrasqueira, Playground, Salão de...","(Guaratiba, 23036060, Rio de Janeiro, Rio de J...",12a13315-d67f-48f0-9497-017b83252781,2,NaN,Usado,Apartamento,Residencial,1.0,"[(245, None, Venda, 15000)]",Guaratiba,Zona Oeste,245,None,Venda,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66343,20,648.0,648,6,"[Academia, Churrasqueira, Piscina, Salão de fe...","(Barra da Tijuca, 22793082, Rio de Janeiro, Ri...",5831f3d1-e004-414e-b717-2f346a440295,5,5.0,Usado,Apartamento,Residencial,4.0,"[(9654, 44629, Venda, 13785527)]",Barra da Tijuca,Zona Oeste,9654,44629,Venda,13785527
66344,20,NaN,648,6,"[Academia, Churrasqueira, Piscina, Playground,...","(Barra da Tijuca, 22793082, Rio de Janeiro, Ri...",8577a5cf-b6c7-4b67-9f51-9dce456a493a,5,5.0,Usado,Apartamento,Residencial,5.0,"[(8385, 44629, Venda, 13785527)]",Barra da Tijuca,Zona Oeste,8385,44629,Venda,13785527
66345,20,648.0,648,7,"[Academia, Condomínio fechado, Elevador, Pisci...","(Barra da Tijuca, 22793081, Rio de Janeiro, Ri...",db22bde4-838a-4ff1-8e85-cac62fd159f9,5,5.0,Usado,Apartamento,Residencial,5.0,"[(10200, 39570, Venda, 13785527)]",Barra da Tijuca,Zona Oeste,10200,39570,Venda,13785527
66346,1,264.0,264,2,"[Condomínio fechado, Portão eletrônico, Portar...","(Ipanema, 22420004, Rio de Janeiro, Rio de Jan...",382599ac-7751-4ade-8a57-bb9633579a46,3,1.0,Usado,Apartamento,Residencial,3.0,"[(3970, 3200, Venda, 13900000)]",Ipanema,Zona Sul,3970,3200,Venda,13900000
66347,0,648.0,648,11,"[Piscina, Elevador, Playground]","(Barra da Tijuca, 22631000, Rio de Janeiro, Ri...",c823e3c7-02c7-459d-bb8a-a04847a0a839,5,5.0,Usado,Apartamento,Residencial,5.0,"[(10170, 38400, Venda, 13900000)]",Barra da Tijuca,Zona Oeste,10170,38400,Venda,13900000

In [18]:
#Remover colunas desnecessárias : Endereco, valores, tipo

dados = dados.drop('endereco', 'valores', 'tipo')

In [26]:
from pyspark.sql.types import StringType

dados.printSchema()

root
 |-- andar: long (nullable = true)
 |-- area_total: integer (nullable = true)
 |-- area_util: integer (nullable = true)
 |-- banheiros: integer (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: string (nullable = true)
 |-- quartos: integer (nullable = true)
 |-- suites: integer (nullable = true)
 |-- tipo_anuncio: string (nullable = true)
 |-- tipo_unidade: string (nullable = true)
 |-- tipo_uso: string (nullable = true)
 |-- vaga: integer (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: string (nullable = true)
 |-- iptu: string (nullable = true)
 |-- valor: string (nullable = true)

In [28]:
dados = dados.withColumn('caracteristicas', dados['caracteristicas'].cast(StringType()))

In [31]:
#Encontrei um erro chamado JavaP4JException pesquisando sobre este erro não encontrei solução concreta apenas dizia sobre a utilização
# De jupter notebook e o uso de spark diretamente no vscode que é o meu caso, logo  resolvi extrair via pandas para uma solução mais rapida.

dfpanda = dados.toPandas()

In [32]:
dfpanda.head()

,andar,area_total,area_util,banheiros,caracteristicas,id,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,bairro,zona,condominio,iptu,valor
0,3,43.0,43,1,"[Academia, Churrasqueira, Playground, Salão de...",d2e3a3aa-09b5-45a0-9dcd-918847cd3ca3,2,NaN,Usado,Apartamento,Residencial,1.0,Paciência,Zona Oeste,245,None,15000
1,2,42.0,42,1,"[Churrasqueira, Playground, Salão de festas, C...",085bab2c-87ad-452a-bd0f-8b1451509f84,2,NaN,Usado,Apartamento,Residencial,1.0,Paciência,Zona Oeste,0,0,15000
2,1,41.0,41,1,"[Portaria 24h, Condomínio fechado, Playground,...",18d22cbe-1b86-4764-8def-70c615f15a61,2,NaN,Usado,Apartamento,Residencial,1.0,Guaratiba,Zona Oeste,0,0,20000
3,3,43.0,43,1,"[Churrasqueira, Piscina, Playground, Salão de ...",bed8a354-9317-4426-b27e-1c798f864271,2,NaN,Usado,Apartamento,Residencial,0.0,Cosmos,Zona Oeste,285,None,20000
4,2,43.0,43,1,"[Academia, Churrasqueira, Playground, Salão de...",12a13315-d67f-48f0-9497-017b83252781,2,NaN,Usado,Apartamento,Residencial,1.0,Guaratiba,Zona Oeste,245,None,15000

In [ ]:
dfpanda.to_csv('dados/dataset_limpo.csv', index=False)